html {
   background-color: black;
   overflow-x: hidden;
   overflow-y: auto;
}
    body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            overflow-x: hidden;
            overflow-y: auto;
        }
        h1 {
            animation: colorChange 10s infinite;
        }
        a {
          color: grey;
        }
        p1 {
          color: grey;
        }
        p {
            color: white;
            text-align: center;
        }
        @keyframes colorChange {
            0% { color: red; }
            25% { color: blue; }
            50% { color: green; }
            75% { color: yellow; }
            100% { color: orange; }
            150% { color: pink; }
            175% { color: goldenrod; }
            200% { color: grey; }
            250% { color: greenyellow; }
        }
        header {
            background-color: black;
            color: white;
            text-align: center;
            padding: 1em;
        }
        nav {
            display: flex;
            justify-content: space-between;
            background-color: black;
            padding: 0 20px;
            height: 60px;
            align-items: center;
        }
        nav a {
            color: white;
            padding: 20px 20px;
            text-decoration: none;
            text-align: center;
        }
        nav a:hover {
            background-color: #ddd;
            color: black;
        }
        .menu-direita {
            position: relative;
            display: inline-block;
        }
        .menu-direita .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .menu-direita .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
        .menu-direita .dropdown-content a:hover {
            background-color: #f1f1f1;
        }
        .menu-direita:hover .dropdown-content {
            display: block;
        }
        main {
            background-color: black;
            color: red;
            text-align: center;
            width: 100%;
            padding: 5px;
            font-family: Arial, sans-serif;
        }
        section {
            margin: 20px 0;
        }
        footer {
            background-color: black;
            color: white;
            width: 100%;
            text-align: center;
            padding: 1em;
            font-family: Arial, sans-serif;
        }

        
    img {
    max-width: 85%;
    height: auto;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
    margin: 10px;
}

img.fade-out {
    opacity: 0;
}

  .botoes-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .bt-botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: grey;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  .bt-botao:hover {
    background-color: #00ff00;
  } 
  .Sobre {
    background-color: black;
    color: grey;
    width: 200px;
  }
  .Sobre h2 {
    Color: grey;
  }
